.image{
    width: 586px;
    height: 154px;
    border-radius: 3px;
}

.selected{
    background-color: red;
    color: #fff;
}

button:focus{
    outline: none !important;
}

.btn:focus {
    border: none !important;
  }