
<div class="container-fluid" style="margin-top: 50px;">
    <div class="row">
      <div class="col-sm-3 ">
        
      </div>
      <div class="col-sm-6 " style="margin-bottom: 30px;">
        <h2 style="text-align: center;font-weight: bold;background-color: aqua;border-radius: 3px !important;">Please select the Movies and get Back to Cart..Thankyou</h2>
        <img src="../../../assets/pleasebook.jpg" style="width: 590px;">
      </div>
      <div class="col-sm-3 ">
        <button type="button" class="btn btn-secondary btn-sm pull-right" routerLink="/alluser-screen/screen-buttons" (click)="close()" >Back</button>
      </div>
    </div>
   
  </div>
  
